<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flai.Unity.CopyDLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Flai.Unity.CopyDLL.Properties.Settings>
            <setting name="Flai" serializeAs="String">
                <value />
            </setting>
            <setting name="FlaiEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="FlaiTiled" serializeAs="String">
                <value />
            </setting>
            <setting name="FlaiUnity" serializeAs="String">
                <value>C:\Koodaus\Unity\Flai.Unity\</value>
            </setting>
            <setting name="Preset" serializeAs="String">
                <value />
            </setting>
        </Flai.Unity.CopyDLL.Properties.Settings>
    </userSettings>
</configuration>